@import "tailwindcss";


@keyframes sidePopRight {
  0% {
    transform: translateX(40px) scale(0.95);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

.side-pop-right {
  animation: 1s sidePopRight  ease-in-out forwards;
}


@keyframes sidePopLeft {
  0% {
    transform: translateX(0) scale(1);
    opacity: 0;
  }
  100% {
    transform: translateX(40px) scale(0.95);
    opacity: 1;
  }
}

.side-pop-left {
  animation: 1s sidePopLeft ease-in-out forwards;
}



.india-map path {
  @apply fill-gray-300 stroke-gray-700 stroke-[0.5] transition-colors duration-200 cursor-pointer;
}

.india-map path:hover {
  @apply fill-blue-300;
}
